<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        {{#link-to 'index'}}<img class="logo" src="https://assets.materialup.com/uploads/28d76455-d869-4a1f-8425-c13abaf42d3a/avatar.jpg" alt="Bustle logo" />{{/link-to}}
      </a>
    </div>
  </div>
</nav>

<body>
<h1>Admin Editing Page</h1>

<div class="container">
  {{new-article saveArticle="saveArticle"}}

  {{#each model as |article|}}
  {{article-tile article=article destroyArticle="destroyArticle"}}
  <button {{action 'destroyArticle' article}}>Delete Article</button>
  {{/each}}

  {{#link-to 'index'}}Home{{/link-to}}

</div>

<div class="footer">Do the Bustle. Da Da Da Da Da Da Da Da</div>
</body>
