<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        {{#link-to 'index'}}<img class="logo" src="https://assets.materialup.com/uploads/28d76455-d869-4a1f-8425-c13abaf42d3a/avatar.jpg" alt="Bustle logo" />{{/link-to}}
      </a>
    </div>
  </div>
</nav>

<h1>Contact Us</h1>

<h3>1-800-BLAH-BLAH</h3>

{{#link-to 'index'}}Home{{/link-to}}


<div class="footer">Bustle Footer</div>
