<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        {{#link-to 'index'}}<img class="logo" src="https://assets.materialup.com/uploads/28d76455-d869-4a1f-8425-c13abaf42d3a/avatar.jpg" alt="Bustle logo" />{{/link-to}}
      </a>
    </div>
  </div>
</nav>

<body>
<div class="container">
  {{#each model as |article|}}
  {{article-tile article=article}}
  {{/each}}

  {{#link-to 'contact'}}Contact Us{{/link-to}}
<br>
  {{#link-to 'admin'}}Admin{{/link-to}}
</div>

<div class="footer">Bustle Footer</div>
</body>
