<h1 class="jumbotron">Bustle</h1>

<body>
<div class="container">
  {{#each model as |article|}}
  {{article-tile article=article}}
  {{/each}}


  {{#link-to 'contact'}}Contact Us{{/link-to}}
</div>

</body>
